.red1, .red2, .red3, .red4, .red5, .red6{
    background-color: #eb4d4b;
    width: 100px;
    height: 100px;
}

.orange1, .orange2, .orange3, .orange4, .orange5, .orange6{
    background-color: #f0932b;
    width: 100px;
    height: 100px;
}

.yellow1, .yellow2, .yellow3, .yellow4, .yellow5, .yellow6{
    background-color: #f6e58d;
    width: 100px;
    height: 100px;
}

.green1, .green2, .green3, .green4, .green5, .green6{
    background-color: #6ab04c;
    width: 100px;
    height: 100px;
}

.blue1, .blue2, .blue3, .blue4, .blue5, .blue6{
    background-color: #4834d4;
    width: 100px;
    height: 100px;
}

.purple1, .purple2, .purple3, .purple4, .purple5, .purple6{
    background-color: #be2edd;
    width: 100px;
    height: 100px;
}

.container1{
    display: flex;
    flex-direction: row;
}

.container2{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container3{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.container4{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.container5{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.container6{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}